* {
  margin: 0;
  padding: 0;
}
.first {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first h1 {
  color: red;
  align-items: center;
}
.red {
  border: 2px solid red;
  background-color: red;
  height: 100px;
  width: 300px;
  align-items: center;
}
.second {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second h1 {
  color: yellow;
  align-items: center;
}
.yellow {
  border: 2px solid yellow;
  background-color: yellow;
  height: 100px;
  width: 300px;
  align-items: center;
}
